<div style="height: 100vh; background-color: rgb(235, 228, 194)">
  <as-split [gutterSize]="6">
    <as-split-area
      [minSize]="10"
      [size]="40"
    >
      <p>
        Try to move with the splitter.
      </p>
    </as-split-area>

    <as-split-area [size]="60">
      <div style="max-width: 100%; overflow: hidden">
      <dx-tree-list
        id="table"
        keyExpr="id"
        [dataSource]="{ store: sampleItems }"
        [showBorders]="true"
        [showColumnLines]="true"
        [showRowLines]="true"
        [autoExpandAll]="true"
        [allowColumnReordering]="true"
        [allowColumnResizing]="true"
        [columnResizingMode]="'widget'"
        [wordWrapEnabled]="true"
        [columnMinWidth]="64"
        [loadPanel]="{ enabled: false }"
        style="max-width: 100%"
    >
        <dxo-state-storing
            [enabled]="true"
        ></dxo-state-storing>

        <dxo-sorting mode="none">
        </dxo-sorting>

        <dxi-column
            caption=""
            dataField="selection"
            width="32"
            [allowFiltering]="false"
            [allowSorting]="false"
            [allowEditing]="false"
            [visible]="false"
        ></dxi-column>

        <dxi-column
            caption="kod"
            dataField="code"
            dataType="string"
            cssClass="code-column"
            [fixed]="true"
            [allowReordering]="false"
            [width]="170"
        ></dxi-column>

        <dxi-column
            caption="popis"
            dataField="description"
            dataType="string"
            cellTemplate="descriptionTemplate"
            [width]="500"
            [fixed]="true"
            [allowReordering]="false"
        ></dxi-column>

        <dxi-column
            caption="merna jednotka"
            dataField="measureUnit"
            dataType="string"
            cssClass="right-border-bold"
            [fixed]="true"
            [allowReordering]="false"
            [width]="140"
        ></dxi-column>

        <dxi-column
            caption="cena"
            dataField="price"
            dataType="string"
            cellTemplate="priceTemplate"
            cssClass="text-align-right"
            [width]="140"
        ></dxi-column>

        <dxi-column
            caption="cena material"
            dataType="string"
            cellTemplate="priceMaterialTemplate"
            cssClass="text-align-right"
            [width]="140"
        ></dxi-column>

        <dxi-column
            caption="hmotnost"
            dataField="weight"
            dataType="string"
            cssClass="text-align-right"
            [width]="140"
        ></dxi-column>

        <dxi-column
            caption="rubble"
            dataField="rubble"
            dataType="string"
            cssClass="text-align-right"
            [width]="140"
        ></dxi-column>

        <dxi-column
            caption="nh"
            dataField="nh"
            dataType="string"
            cssClass="text-align-right"
            [width]="140"
        ></dxi-column>

        <div *dxTemplate="let cell of 'descriptionTemplate'">
            <div
                [class.bold]="!cell.data.itemId"
                [ngClass]="'level-' + cell.data.level"
            >{{ cell.text }}</div>
        </div>


        <div *dxTemplate="let cell of 'priceTemplate'">
            <div
                *ngIf="cell.data.id < 0"
                class="semibold price-cell"
            >
                <span>{{ cell.text | number }}</span>

                <span class="desktop-currency">&nbsp;eur</span>
            </div>
        </div>

        <div *dxTemplate="let cell of 'priceMaterialTemplate'">
            <div *ngIf="cell.data.id < 0">{{ cell.text | number }} e</div>
        </div>
    </dx-tree-list>
    </div>
    </as-split-area>
  </as-split>
</div>
